*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: #94D9EA;
}

.main-content{
    display: grid;
    grid-template-columns: 300px 700px;
    min-height: 1000px;
    width: 90%;
    margin: 20px auto;
}

.left-section{
    grid-column: span 1;
    background-color: #00324A;
}
.right-section{
    grid-column: span 1 / span 2;
    background-color: #f7f7f7;
    width: 90%;
}


.left-content{
    padding: 1rem;
}
.profile-details{
  width: 100%;
  border-bottom: 1px solid #002333;
}
.image{
    width: 100%;
    text-align: center;
}
.profile-image{
    display: block;
    justify-content: center;
    justify-self:auto ;
    margin: auto;
    border: 5px solid #ffffff;
    border-radius: 30%;
    width: 60%;
}


.name{
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02px;
    padding: 0.8rem;
}

.designation{
    font-size: 1rem;
    color: #94D9EA;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 0.5rem;
}
.description{
    font-size: 0.75rem;
    color: #94D9EA;
    text-align: center;
    letter-spacing: 1px;
    padding: 1rem;
    border: none;
}
.social-media{
    border: none;
    padding: 10px;
    margin: 1px;
    display: flex;
    justify-content: space-between;
   

   
}
.icon{
    
    padding: 2px;
    font-size: 35px;
    width: 15px;

}
.fa:hover{
    opacity: 0.7;
}
.fa-linkedin{
    text-decoration: none;
    align-content: center;
    padding: 3.5px;
    padding-top: 3px;
    padding-bottom: 2px;
    border-radius: 30%;
    background: #007bb5;
    color: #ffffff;
}
.fa-github{
    text-decoration: none;
    align-content: center;
    padding: 3.5px;
    padding-top: 3px;
    padding-bottom: 2px;
    border-radius: 30%;
    background: black;
    color: white;
}
.fa-twitter{
    text-decoration: none;
    background:#00324A;
    color:  #007bb5;
}
.skills{
    font-size: 0.75rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0.5em  1rem 0.5em;
    color: white;
}


.skill-name{
    padding-bottom: 0.5rem;
    padding-top: 5px;
    text-transform: uppercase;
    color: #f7f7f7;
    font-size: 0.65rem;
    font-weight: 0.65rem;
    text-align: left;

}

.skills ul{
    padding-top: 2rem;
}
.skills ul li{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: .4rem 0;
}

.progress{
    width: 100%;
    height: 4px; 

    position: relative;
    border-radius: 12px;
}
.progress-bar{
    height: 4px;
    position: absolute;
    left: 0;
    border: 1px white solid;
    background-color: white;
    border-radius: 12px;
}
.html-progress{
    width: 70%;
}
.css-progress{
    width: 60%;
}
.j-progress{
    width: 80%;
}
.js-progress{
    width: 40%;
}
.cpp-progress{
    width: 50%;
}
.c-progress{
    width: 40%;
}
.php-progress{
    width: 30%;
}
.net-progress{
    width: 25%;
}
.sql-progress{
    width: 10%;
}


.right-main-content{
    padding: 32px 48px 32px 48px;
}

.right-title{
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2F80ED;
    margin-bottom: 1.2rem;
    position: relative;
}

.right-title::after{
    content: "";
    position: absolute;
    width: 60%;
    height: .2rem;
    background-color: #ccc;
    border-radius: 12px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.para{
    line-height: 1.6rem;
    color: #718096;
    font-size: 1.1rem;
}

.sect{
    padding-bottom: 2rem;
}

.timeline{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tl-title{
    letter-spacing: 1px;
    font-size: 1.3rem;
    color: #002333;
    text-transform: uppercase;
}
.tl-title-2{
    letter-spacing: 1px;
    font-size: 1.3rem;
    color: #2D9CDB;
    text-transform: uppercase;
}

.tl-content{
    
    border-left: 1px solid #ccc;
    padding-left: 2rem;
    position: relative;
    padding-bottom: 2rem;
}

.tl-title-2::before{
    content: "";
    position: absolute;
    width: .7rem;
    height: .7rem;
    background-color: #2D9CDB;
    border-radius: 50%;
    transform: translateX(-50%);
    left: 0;
}

/*Media Querries*/
/*@media screen and (max-width:823px){
    .right-title::after{
        width: 40%;
    }
}
@media screen and (max-width:681px){
    .right-title::after{
        width: 30%;
    }
}
@media screen and (max-width:780px){
    .timeline{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width:673px){
    .left-section{
        grid-column: span 3;
    }
    .right-section{
        grid-column: span 4;
    }
}*/
@media screen and (max-width:673px){
        .main-content{
            grid-template-columns: repeat(1, 1fr);
            width: 90%;
            min-height: 1000px;
        }
    .profile-image img{
        width: 40%;
    }
}
/*
@media screen and (max-width:700px){
    .profile-image img{
        width: 60%;
    }
}
@media screen and (max-width:390px){
    .profile-name{
        font-size: 1.5rem;
    }
}